* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    height: 100vh;

    display: grid;
    grid-template-rows: clamp(180px, 180px, 250px) 1fr;
    grid-template-columns: 275px 1fr;
}

nav {
    background-color: #38a9ff;
    grid-row: 1 / span 2;

    display: grid;
    grid-template-rows: 75px 30px 370px 1fr;
}

.title-logo {
    height: 60px;
    align-self: center;
    justify-self: center;
}

.title-text {
    font-size: 1.85rem;
    color: white;
}

.nav {
    /* background-color: blueviolet; */
    display: grid;
    grid-template-rows: repeat(6, 50px);
    grid-row: 3;
}

.support-nav{
    /* background-color: blue; */
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-row: 4;
}

.nav-item, .title {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
}

.nav-logo {
    height: 30px;
    justify-self: center;
}

.nav-text {
    font-size: 1.15rem;
    color: white;
    cursor: pointer;
}

.nav-text:hover {
    color: rgb(235, 234, 234);
}



header{
    background-color: white;
    display: grid;
    grid-template-rows: 75px 1fr;
}

.search-bar {
    display: grid;
    grid-template-columns: 70px minmax(200px, 1fr) 40px 50px 150px;
    gap: 30px;
    align-items: center;
    justify-items: center;
    /* border: 1px solid; */
}

.search-bar .search-img {
    justify-self: end;
}

.search-bar input {
    height: 40px;
    border-radius: 20px;
    justify-self: start;
    padding: 10px 20px;
    background-color: rgb(235, 235, 235);
    width: min(100%, 600px);
}

.search-bar .user-name {
    justify-self: start;
}

.search-img, .notification-img {
    height: 30px;
}

.search-bar .profile-img {
    height: 50px;
    border-radius: 50%;
}

.profile-bar {
    display: grid;
    grid-template-columns: 125px minmax(170px, 1fr) repeat(2, 100px) 150px;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.profile-bar .profile-img {
    height: 80px;
    border-radius: 50%;
    justify-self: end;
}

.profile-bar .user-greeting {
    justify-self: start;

}

.profile-bar button {
    padding: 12px 30px;
    width: 100px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #38a9ff;
    color: white;
    /* font-size: 1rem; */
    justify-self: start;
}

.profile-bar button:hover {
    box-shadow: 1px 1px 5px lightslategray;
}





main {
    background-color: rgb(232, 232, 232);
    display: grid;
    grid-template-columns: 1fr 300px;
}

main .projects {
    display: grid;
    grid-template-rows: 20px 1fr;
    padding: 20px;
    gap: 20px;
}

main .projects .main-title{
    align-self: end;
    justify-self: start;
}

main .projects .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
}

main .projects .project-card {
    background-color: white;
    border-left: 10px solid rgb(255, 204, 0);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr repeat(3, 50px);
    grid-template-rows: 20px 1fr 10px 30px;
    /* height: 300px; */
}

main .project-card-title {
    grid-column: 1 / 5;
}

main .project-card-text {
    grid-column: 1 / 5;
}

main .project-card-img {
    height: 30px;
    justify-self: end;
}

main .project-card .favourite-img {
    grid-column: 2 / 3;
    grid-row: 4;
}

main .project-card .viewed-img{
    grid-column: 3 / 4;
    grid-row: 4;
}

main .project-card .share-img{
    grid-column: 4 / 5;
    grid-row: 4;
}




main .main-side {
    display: grid;
    grid-template-rows: 20px min-content 20px min-content;
    padding: 20px;
    gap: 20px;
}

main .main-side .main-title {
    align-self: end;
    justify-self: start;
}

main .announcements-container {
    background-color: white;
    padding: 0px 20px;
    display: grid;
    border-radius: 10px;
}

main .announcements-card {
    display: grid;
    padding: 20px 0px;
}

main .announcements-card:not(:last-child) {
    border-bottom: 1px solid;
}

main .announcements-card-title {}

main .announcements-card-text {
    font-size: 0.8rem;
}



main .trending-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    align-items: center;
    gap: 20px;
}

main .trending-card {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    align-items: center;
}

main .trending-card-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    grid-template-rows: 1 / 3;
}

main .trending-card-username {

}

main .trending-card-text {

}