:root {
    --primary: rgb(14, 129, 68);
    --secondary: rgb(21, 185, 98);
    --grey: rgb(232, 232, 232);
    --text-grey: rgb(120, 120, 120);
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/font-roboto/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
        url('fonts/font-roboto/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: robotoregular;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: clamp(180px, 180px, 250px) 1fr;
    grid-template-columns: 275px 1fr;
}

nav {
    background-color: var(--primary);
    grid-row: 1 / span 2;

    display: grid;
    grid-template-rows: 75px 30px 370px 1fr;
}

.title-logo {
    height: 60px;
    align-self: center;
    justify-self: center;
}

.title-text {
    font-size: 1.85rem;
    color: white;
}

.nav {
    display: grid;
    grid-template-rows: repeat(6, 50px);
    grid-row: 3;
}

.support-nav{
    grid-row: 4;

    display: grid;
    grid-template-rows: repeat(3, 50px);
}

.nav-item, .title {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
}

svg {
    height: 30px;
    justify-self: center;
    fill: white;
}

.nav-text {
    font-size: 1.15rem;
    color: white;
}

.title:hover, .nav-item:hover {
    cursor: pointer;
    border-left: 8px solid var(--secondary);
}



header {
    background-color: white;
    display: grid;
    grid-template-rows: 75px 1fr;
}

.search-bar {
    display: grid;
    grid-template-columns: 70px minmax(200px, 1fr) 40px 50px 150px;
    gap: 30px;
    align-items: center;
    justify-items: center;
}

.search-bar .search-img {
    justify-self: end;
}

.search-bar input {
    justify-self: start;
    height: 40px;
    width: min(100%, 600px);
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--grey);
}

.search-bar .user-name {
    justify-self: start;
}

.search-img, .notification-img {
    height: 30px;
}

.search-bar .profile-img {
    height: 50px;
    border-radius: 50%;
}

.profile-bar {
    display: grid;
    grid-template-columns: 125px minmax(170px, 1fr) repeat(2, 100px) 150px;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.profile-bar .profile-img {
    height: 80px;
    border-radius: 50%;
    justify-self: end;
}

.profile-bar .user-greeting {
    justify-self: start;
}

.profile-bar button {
    padding: 12px 30px;
    width: 110px;
    border-radius: 30px;
    cursor: pointer;
    background-color: var(--secondary);
    color: white;
    font-size: 0.9rem;
    justify-self: start;
}

.profile-bar button:hover {
    box-shadow: 1px 1px 5px lightslategray;
}

header img:hover, header .user-name:hover {
    transform: scale(1.1);
    cursor: pointer;
}





main {
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 1fr 300px;
}

main .projects {
    display: grid;
    grid-template-rows: 30px 1fr;
    padding: 20px;
    gap: 20px;
}

main .main-title{
    align-self: end;
    justify-self: start;
    font-size: 1.2rem;
    font-weight: 800;
}

main .projects .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 250px;
    gap: 20px;
}

main .projects .project-card {
    background-color: white;
    border-left: 10px solid var(--secondary);
    padding: 20px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr repeat(3, 50px);
    grid-template-rows: 30px 1fr 10px 30px;
}

main .project-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main .project-card-title {
    grid-column: 1 / 5;
    font-weight: bold;
    font-size: 1.1rem;
}

main .project-card-text {
    grid-column: 1 / 5;
    color: var(--text-grey);
}

main .project-card-img {
    height: 25px;
    justify-self: end;
    cursor: pointer;
}

main .project-card .favourite-img {
    grid-column: 2 / 3;
    grid-row: 4;
}

main .project-card .viewed-img{
    grid-column: 3 / 4;
    grid-row: 4;
}

main .project-card .share-img{
    grid-column: 4 / 5;
    grid-row: 4;
}




main .main-side {
    display: grid;
    grid-template-rows: 30px min-content 30px min-content;
    gap: 20px;
    padding: 20px;
}

main .announcements-container {
    display: grid;

    background-color: white;
    padding: 10px 25px;
    border-radius: 10px;
}

main .announcements-card {
    display: grid;
    padding: 15px 0px;
}

main .announcements-card:not(:last-child) {
    border-bottom: 1px solid;
}

main .announcements-card-text {
    font-size: 0.8rem;
    color: var(--text-grey);
}



main .trending-container {
    display: grid;
    gap: 20px;
    align-items: center;

    background-color: white;
    border-radius: 10px;
    padding: 25px;
}

main .trending-card {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    align-items: center;
}

main .trending-card-img {
    grid-template-rows: 1 / 3;

    height: 50px;
    width: 50px;
    border-radius: 50%;
}

main .trending-card-username {
    font-size: 0.9rem;
}

main .trending-card-text {
    color: var(--text-grey);
    font-size: 0.9rem;
}

.trending-card:hover, .announcements-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.project-card img:hover {
    cursor: pointer;
    transform: scale(1.4);
}

main .main-title:hover {
    cursor: pointer;
    transform: scale(1.1);
}