* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    height: 100vh;

    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 300px 1fr;
}

nav {
    background-color: bisque;
    grid-row: 1 / span 2;

    display: grid;
    grid-template-rows: 75px 1fr 1fr;
}

.title {
    background-color: brown;
}

.nav {
    background-color: blueviolet;
}

.support-nav{
    background-color: blue;
}



header{
    background-color: beige;
}

main{
    background-color: azure;
}